/* Google Font - Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #252526;
  color: #aaa;
}


select {
  padding-block: 0.5rem;

}

select,
input {
  padding-inline: 5px;
  line-height: 32px;
  border: 1px solid #656565;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.6);
}

input {
  font-size: 15px;
  padding-inline: 10px;
  color: #191919;
}

input::placeholder {
  color: #656565;
  font-size: 15px;
}


.btn {
  display: block;
  /* margin-inline: auto; */
  padding: 0.7rem;
  color: #fff;
  border-radius: 5px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}


.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}


/* Header */

header {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  padding-block: 1rem;
  padding-inline: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}





header .buttons .btn:nth-child(1) {
  background-color: rgb(210, 105, 30);
}

header .buttons .btn:nth-child(1):active {
  background-color: rgb(146, 87, 45);
}



header .buttons .btn:nth-child(2) {
  background-color: #01796f;
}

header .buttons .btn:nth-child(2):active {
  background-color: #22615c;
}



header .buttons .btn:nth-child(3) {
  background-color: #F74F4F;
}

header .buttons .btn:nth-child(3):active {
  background-color: #8d4a4a;
}

header .submit-btn {
  margin: 0;
}




/* Toast Notification */

.toast {
  display: block;
  position: relative;
  position: fixed;
  bottom: 1rem; right: 1.5rem;
  padding: 16px 10px;
  background-color: #107C7D;
  border: 1px solid #989898;
  border-radius: 5px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.toast.hide {
  opacity: 0;
}



/* Form Error Messages */
/* #nameErr, #ageErr, #genderErr, #emailErr, #courseErr { */
.err {
  display: none;
  color: #F74F4F;
  font-size: 13px;
  margin-left: 1.5rem;
  font-weight: 500;
}

#nameErr.active,
#ageErr.active,
#genderErr.active,
#emailErr.active,
#courseErr.active {
  display: block;
}